include/*
scripts/*
src/*
tests/*
!tests/test-data
tests/test-data/scratch
tests/test-data/unreadable
!*/Makefile
!*/runTests
!*/*.c
!*/*.in
!*/*.h
!*/*.py
!*/*.S
include/__inttypes.h
include/__limits.h
include/__stdint.h
scripts/size-of.c
